.customDiv
{
    padding-top:2px ;
    margin-bottom: 3px;
    margin-top: 3px;
    min-height: 300px;
    background-color: rgb(77, 76, 76);
    color: ivory;
    text-align: center;
}
.customImg
{
    padding-top: 2px;
    padding-left: 0px;
    height: 300px;
    width: 395px;
}
body
{
    background-image: radial-gradient(rgb(122, 119, 119),rgb(252, 248, 248));
}